{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <div class="post-meta clearfix">
    {{ if (isset .Params "noshowdate")  }}
    {{ else }}
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
    {{ end }}
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    {{ if (isset .Params "nocomments")  }}
    {{ else }}
    {{ with .Site.Params.disqus }}
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    {{ end }}
    <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Params.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </div>
      <div class="author-meta col-md-6">
        {{ with .Site.Params.author }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
      {{ with .Site.Params.contact }}
      <div class="author-contact col-md-4 col-xs-5">
        <div class="row text-center">
          <a href="{{ . }}" class="contact-button">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            &nbsp;Contact me
          </a>
        </div>
        <div class="row text-center">
          <a href="https://twitter.com/DWMartin41?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @DWMartin41</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      {{ end }}
      <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://davemartin.us4.list-manage.com/subscribe/post?u=b24696bc7d981a9f87ac28849&amp;id=7427713d84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Notify me of new articles</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b24696bc7d981a9f87ac28849_7427713d84" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </section>
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
